.resume {
    display: flex;
    flex-direction: row;
    padding: 60px;
}
.workHistory {
    display: flex;
    flex-direction: column;
    flex: 1.5;
    flex-wrap: wrap;
    align-content: center;

}
/* --- work history section ---  */
.workHistorySection {
    height: 70%;
}
.workHistory1 { 
    display: flex;
    justify-content: center;
}
/* --- end work history section ---  */
/* --- credientals section ---  */
.proficiencySection {
    height: 30%;
}
.Credientals {
    display: flex;
    justify-content: center;
}
/* --- end of credientals section ---  */
.professionalSkills {
    flex: 1;
    display: flex;
    flex-direction: column;
    
}

.professionalSkillsSection {
    height: 70%;
    
}
.professionalSkills1 {
    display: flex;
    justify-content: center; 
}
.rating {
    height: 20px;
}
/* ---social media section ---  */
.socialMediaSection {
    height: 30%;
}
.socialMedia { 
    display: flex;
    justify-content: center;
}

.col { 
    padding: 2px;
}
/* --- end social media section ---  */