.resume {
    display: flex;
    flex-direction: row;
    padding: 60px;
}
.workHistory {
    display: flex;
    flex-direction: column;
    flex: 1.5;
}
/* --- work history section ---  */
.workHistorySection {
    height: 60%;
}
.workHistory1 { 
    display: flex;
    justify-content: center;
}
/* --- end work history section ---  */
/* --- credientals section ---  */
.proficiencySection {
    height: 40%;
}
.Credientals {
    display: flex;
    justify-content: center;
}
/* --- end of credientals section ---  */
.professionalSkills {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.professionalSkillsSection {
    height: 50%;
}
/* ---social media section ---  */
.socialMediaSection {
    height: 50%;
}
.socialMedia { 
    display: flex;
    justify-content: center;
}
.col { 
    padding: 2px;
}
/* --- end social media section ---  */